:root {
    --first-color:rgba(146, 171, 235, 0.7);
}

.content, .logo-container {
    display:flex;
    flex-direction: row;
}

.picture {
    position: static;
    background-image: url(./assets/mathilde-langevin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 40vw;
    margin: 0;
/*     border: 2px solid blac*/
}

.logo-container{
    background-color: var(--first-color);
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-top: 20vh;
}

.logo > img {
    width: 90px;
    height: auto;
}

.logo-text {
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    font-size: 3em;
    letter-spacing: 1px;
    text-shadow: 0 0 3px black;
}

